{# src/AppBundle/Resources/views/Common/header_intro.html.twig #}
<header id="header" class="in-intro">
    <div class="logo">
        <a href="{{ path('index', { '_locale': app.request.locale }) }}"><img src="{{ asset('bundles/app/images/logo.png') }}" alt="First Realty Brokerage"></a>
    </div>
    <div class="items-right">
        <div class="item lang">

            {% if app.request.locale == default_locale %}
                <a href="{{ path(route, { '_locale': 'en' }) }}">EN</a>
            {% else %}
                <a href="{{ path(route, { '_locale': 'ua' }) }}">UA</a>
            {% endif %}

        </div>
        <div id="toggle-menu" class="item">
            <span>{{ 'common.header.menu'|trans }}</span>
        </div>
    </div>
    <div class="contact-info">
        <a href="{{ path('contacts', { '_locale': app.request.locale }) }}">
            <span class="icon-location"></span>
            {{ 'common.header.map.short'|trans }}
        </a>
        <a href="tel:+380449999999"><span class="icon-phone"></span>+38 (044) 999-99-99</a>
    </div>
</header>
<div id="menu-holder" class="in-intro">
    <nav id="menu">

        {{ knp_menu_render('main', {'currentClass': 'active'}) }}

    </nav>
</div>