{# src/AppBundle/Resources/views/Common/header.html.twig #}
<div class="logo">
    <a href="{{ path('index', { '_locale': app.request.locale }) }}"><img src="{{ asset('bundles/app/images/logo.png') }}" alt="First Realty Brokerage"></a>
</div>
<nav class="menu">

    {{ knp_menu_render('main', {'currentClass': 'active'}) }}

</nav>
<div class="contact-info">
    <a href="tel:+380449999999"><span class="icon-phone"></span>+38 (044) 999-99-99</a>
    <a href="{{ path('contacts', { '_locale': app.request.locale }) }}">
        <span class="icon-location"></span>
        {{ 'common.header.map_full'|trans }}
    </a>
</div>
<div class="lang">

    {% if app.request.locale == default_locale %}
        <a href="{{ path(route, { '_locale': 'en' }) }}">EN</a>
    {% else %}
        <a href="{{ path(route, { '_locale': 'ua' }) }}">UA</a>
    {% endif %}

</div>