{# src/AppBundle/Resources/views/Filter/attribute.html.twig #}

{% set FILTER_ROOT = constant('AppBundle\\Service\\Filter\\Utility\\Interfaces\\FilterArgumentsInterface::FILTER_ROOT') %}
{% set FILTER_ATTRIBUTES = constant('AppBundle\\Service\\Filter\\Utility\\Interfaces\\FilterArgumentsInterface::FILTER_ATTRIBUTES') %}

{% for attribute, attributeRange in attributes %}

    {% set valueMin = ( values[attribute]['min'] is defined ) ? values[attribute]['min'] : attributeRange['min'] %}
    {% set valueMax = ( values[attribute]['max'] is defined ) ? values[attribute]['max'] : attributeRange['max'] %}

    <div class="item">
        <h3>{{ attribute|trans }}</h3>
        <div class="range-holder"
             data-min="{{ valueMin }}" data-range-min="{{ attributeRange['min'] }}"
             data-max="{{ valueMax }}" data-range-max="{{ attributeRange['max'] }}">
        </div>
        <div class="field-holder text">
            <span>від</span>
            <input type="text" name="{{ FILTER_ROOT }}[{{ FILTER_ATTRIBUTES }}][{{ attribute }}][min]" value="{{ valueMin }}" id="{{ attribute }}-min" class="counter">
            <span>до</span>
            <input type="text" name="{{ FILTER_ROOT }}[{{ FILTER_ATTRIBUTES }}][{{ attribute }}][max]" value="{{ valueMax }}" id="{{ attribute }}-max" class="counter">
        </div>
    </div>
{% endfor %}
