{# src/AppBundle/Resources/views/Filter/currency.html.twig #}
<div class="item">
    <h3>Валюта</h3>

    {% set FILTER_ROOT = constant('AppBundle\\Service\\Filter\\Utility\\Interfaces\\FilterArgumentsInterface::FILTER_ROOT') %}
    {% set FILTER_CURRENCY = constant('AppBundle\\Service\\Filter\\Utility\\Interfaces\\FilterArgumentsInterface::FILTER_CURRENCY') %}

    {% for id in currencies %}

        {% set is_checked = ( id in checked ) %}

        <div class="check-holder">
            <input type="radio" name="{{ FILTER_ROOT }}[{{ FILTER_CURRENCY }}]" value="{{ id }}" id="currency-{{ id }}" {{ ( is_checked ) ? 'checked' }}>
            <label for="currency-{{ id }}"><span>{{ id }}</span></label>
        </div>
    {% endfor %}

</div>
