{# src/AppBundle/Resources/views/Filter/feature.html.twig #}
{% set FILTER_ROOT = constant('AppBundle\\Service\\Filter\\Utility\\Interfaces\\FilterArgumentsInterface::FILTER_ROOT') %}
{% set FILTER_FEATURES = constant('AppBundle\\Service\\Filter\\Utility\\Interfaces\\FilterArgumentsInterface::FILTER_FEATURES') %}

{% for id, value in features %}

    {% set is_checked = ( checked[id] is defined ) %}

    <div class="item">
        <h3>{{ ('state.catalog.feature.' ~ id ~ '.catalog')|trans }}</h3>
        <div class="check-holder">
            <input type="radio" name="{{ FILTER_ROOT }}[{{ FILTER_FEATURES }}][{{ id }}]" value="yes" id="{{ id }}-yes" {{ ( is_checked and checked[id] == 'yes' ) ? 'checked' }}>
            <label for="{{ id }}-yes"><span>{{ 'common.yes'|trans|lower }}</span></label>
        </div>
        <div class="check-holder">
            <input type="radio" name="{{ FILTER_ROOT }}[{{ FILTER_FEATURES }}][{{ id }}]" value="no" id="{{ id }}-no" {{ ( is_checked and checked[id] == 'no' ) ? 'checked' }}>
            <label for="{{ id }}-no"><span>{{ 'common.no'|trans|lower }}</span></label>
        </div>
    </div>
{% endfor %}
