{# src/AppBundle/Resources/views/Filter/space.html.twig #}
<div class="item">
    <h3>{{ 'state.catalog.filter.space'|trans }}</h3>

    {% set FILTER_ROOT = constant('AppBundle\\Service\\Filter\\Utility\\Interfaces\\FilterArgumentsInterface::FILTER_ROOT') %}
    {% set FILTER_SPACE = constant('AppBundle\\Service\\Filter\\Utility\\Interfaces\\FilterArgumentsInterface::FILTER_SPACE') %}

    {% set spaceMin = ( values['min'] is defined ) ? values['min'] : spaceRange['min'] %}
    {% set spaceMax = ( values['max'] is defined ) ? values['max'] : spaceRange['max'] %}

    <div class="range-holder"
         data-min="{{ spaceMin }}" data-range-min="{{ spaceRange['min'] }}"
         data-max="{{ spaceMax }}" data-range-max="{{ spaceRange['max'] }}">
    </div>
    <div class="field-holder">
        <span>{{ 'common.from'|trans }}</span>
        <input type="text" name="{{ FILTER_ROOT }}[{{ FILTER_SPACE }}][min]" value="{{ spaceMin|number_format(0, '', '') }}" id="area-min" class="counter">
        <span>{{ 'common.to'|trans }}</span>
        <input type="text" name="{{ FILTER_ROOT }}[{{ FILTER_SPACE }}][max]" value="{{ spaceMax|number_format(0, '', '') }}" id="area-max" class="counter">
    </div>
</div>
