{# src/AppBundle/Resources/views/Filter/trade_type.html.twig #}
<div class="item">
    <h3>Тип угоди</h3>

    {% for id, tradeType in tradeTypes %}
        <div class="check-holder">
            <input type="radio" name="{{ constant('AppBundle\\Service\\Filter\\Utility\\Interfaces\\FilterArgumentsInterface::FILTER_ROOT') }}[{{ constant('AppBundle\\Service\\Filter\\Utility\\Interfaces\\FilterArgumentsInterface::FILTER_TRADE_TYPE') }}]" value="{{ id }}" id="trade-type-{{ id }}">
            <label for="trade-type-{{ id }}"><span>оренда</span></label>
        </div>
    {% endfor %}

    <div class="check-holder">
        <input type="radio" name="filter[deal_type]" value="rent" id="deal-type-rent">
        <label for="deal-type-rent"><span>оренда</span></label>
    </div>
    <div class="check-holder">
        <input type="radio" name="filter[deal_type]" value="sell" id="deal-type-sell">
        <label for="deal-type-sell"><span>продаж</span></label>
    </div>
</div>