{# src/AppBundle/Resources/views/Filter/trade_type.html.twig #}
<div class="item">
    <h3>Тип угоди</h3>

    {% set FILTER_ROOT = constant('AppBundle\\Service\\Filter\\Utility\\Interfaces\\FilterArgumentsInterface::FILTER_ROOT') %}
    {% set FILTER_TRADE_TYPE = constant('AppBundle\\Service\\Filter\\Utility\\Interfaces\\FilterArgumentsInterface::FILTER_TRADE_TYPE') %}

    {% for id, tradeType in tradeTypes %}

        {% set is_checked = ( id in checked ) %}

        <div class="check-holder">
            <input type="radio" name="{{ FILTER_ROOT }}[{{ FILTER_TRADE_TYPE }}]" value="{{ id }}" id="trade-type-{{ id }}" {{ ( is_checked ) ? 'checked' }}>
            <label for="trade-type-{{ id }}"><span>{{ ('state.catalog.' ~ id)|trans }}</span></label>
        </div>
    {% endfor %}
</div>
