{# src/AppBundle/Resources/views/State/catalog.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'default.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('catalog_default') }}">
    <link rel="alternate" href="{{ url('catalog', { '_locale': "ua" }) }}" hreflang="x-default">
    <link rel="alternate" href="{{ url('catalog', { '_locale': "en" }) }}" hreflang="en-us">
    <link rel="alternate" href="{{ url('catalog', { '_locale': "ua" }) }}" hreflang="uk-ua">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/catalog.bundle.min.css') }}">
{% endblock %}

{% block header %}
    <header id="header" class="common">

        {{ render(controller('AppBundle:Common:header', { 'request': app.request, 'type': 'common' })) }}

    </header>
{% endblock %}

{% block content %}
    <main id="content" class="sticky">
        <h1>Каталог нерухомості</h1>
        <div class="outer substrate top-panel-holder">
            <div class="inner">
                <div class="btn-large flat white">
                    <a href="#">Комерційна</a>
                </div>
                <div class="btn-large flat white">
                    <a href="#">Житлова</a>
                </div>
                <form action="#" method="POST" id="search-form">
                    <div class="field-holder">
                        <input type="text" name="search" value="" placeholder="Введіть адресу, ціну або ідентифікатор товару та натисніть введення">
                    </div>
                </form>
                <div class="btn-square flat white">
                    <a href="#" class="icon icon-list-view"></a>
                </div>
                <div class="btn-square flat white">
                    <a href="#" class="icon icon-grid-view"></a>
                </div>
            </div>
        </div>
        <div class="outer substrate catalog-content">
            <div class="inner">
                <aside class="filter-holder">
                    <!--div class="btn-small flat">
                        <a href="#">Очистити</a>
                    </div-->
                    <form action="#" method="POST" id="filter-form">
                        <div class="item">
                            <h3>Тип недвижимости</h3>
                            <div class="check-holder">
                                <input type="radio" name="filter[property_type]" value="apartment" id="property-type-apartment">
                                <label for="property-type-apartment"><span>квартири</span></label>
                            </div>
                            <div class="check-holder">
                                <input type="radio" name="filter[property_type]" value="house" id="property-type-house">
                                <label for="property-type-house"><span>будинки</span></label>
                            </div>
                        </div>
                        <div class="item">
                            <h3>Тип угоди</h3>
                            <div class="check-holder">
                                <input type="radio" name="filter[deal_type]" value="rent" id="deal-type-rent">
                                <label for="deal-type-rent"><span>оренда</span></label>
                            </div>
                            <div class="check-holder">
                                <input type="radio" name="filter[deal_type]" value="sell" id="deal-type-sell">
                                <label for="deal-type-sell"><span>продаж</span></label>
                            </div>
                        </div>
                        <div class="item">
                            <h3>Тип будинку</h3>
                            <div class="check-holder">
                                <input type="radio" name="filter[house_type]" value="old" id="house-type-old">
                                <label for="house-type-old"><span>старий</span></label>
                            </div>
                            <div class="check-holder">
                                <input type="radio" name="filter[house_type]" value="new" id="house-type-new">
                                <label for="house-type-new"><span>новий</span></label>
                            </div>
                        </div>
                        <div class="item">
                            <h3>Валюта</h3>
                            <div class="check-holder">
                                <input type="radio" name="filter[currency]" value="usd" id="currency-usd">
                                <label for="currency-usd"><span>USD</span></label>
                            </div>
                            <div class="check-holder">
                                <input type="radio" name="filter[currency]" value="uah" id="currency-uah">
                                <label for="currency-uah"><span>UAH</span></label>
                            </div>
                        </div>
                        <div class="item">
                            <h3>Ціна</h3>
                            <div class="range-holder" data-min="0" data-range-min="0" data-max="1000" data-range-max="1000"></div>
                            <div class="field-holder">
                                <span>від</span>
                                <input type="text" name="filter[price_min]" value="0" id="price-min" class="counter">
                                <span>до</span>
                                <input type="text" name="filter[price_max]" value="1000" id="price-max" class="counter">
                            </div>
                        </div>
                        <div class="item">
                            <h3>Кількість кімнат</h3>
                            <div class="range-holder" data-min="1" data-range-min="1" data-max="5" data-range-max="5"></div>
                            <div class="field-holder text">
                                <span>від</span>
                                <input type="text" name="filter[rooms_min]" value="1" id="rooms-min" class="counter">
                                <span>до</span>
                                <input type="text" name="filter[rooms_max]" value="5" id="rooms-max" class="counter">
                            </div>
                        </div>
                        <div class="item">
                            <h3>Поверх квартири</h3>
                            <div class="range-holder" data-min="1" data-range-min="1" data-max="31" data-range-max="31"></div>
                            <div class="field-holder">
                                <span>від</span>
                                <input type="text" name="filter[floor_min]" value="1" id="floor-min" class="counter">
                                <span>до</span>
                                <input type="text" name="filter[floor_max]" value="31" id="floor-max" class="counter">
                            </div>
                        </div>
                        <div class="item">
                            <h3>Площа</h3>
                            <div class="range-holder" data-min="20" data-range-min="20" data-max="4000" data-range-max="4000"></div>
                            <div class="field-holder">
                                <span>від</span>
                                <input type="text" name="filter[area_min]" value="20" id="area-min" class="counter">
                                <span>до</span>
                                <input type="text" name="filter[area_max]" value="4000" id="area-max" class="counter">
                            </div>
                        </div>
                        <div class="item">
                            <h3>Район</h3>
                            <div class="check-holder full-w">
                                <input type="checkbox" name="filter[district_1]" value="1" id="district-1">
                                <label for="district-1"><span>Голосіївський</span></label>
                            </div>
                            <div class="check-holder full-w">
                                <input type="checkbox" name="filter[district_2]" value="2" id="district-2">
                                <label for="district-2"><span>Оболоньский</span></label>
                            </div>
                            <div class="check-holder full-w">
                                <input type="checkbox" name="filter[district_3]" value="3" id="district-3">
                                <label for="district-3"><span>Печерский</span></label>
                            </div>
                            <div class="check-holder full-w">
                                <input type="checkbox" name="filter[district_4]" value="4" id="district-4">
                                <label for="district-4"><span>Подольский</span></label>
                            </div>
                            <div class="check-holder full-w">
                                <input type="checkbox" name="filter[district_5]" value="5" id="district-5">
                                <label for="district-5"><span>Святошиньский</span></label>
                            </div>
                            <div class="check-holder full-w">
                                <input type="checkbox" name="filter[district_6]" value="6" id="district-6">
                                <label for="district-6"><span>Солом'янский</span></label>
                            </div>
                            <div class="check-holder full-w">
                                <input type="checkbox" name="filter[district_7]" value="7" id="district-7">
                                <label for="district-7"><span>Шевченківский</span></label>
                            </div>
                            <div class="check-holder full-w">
                                <input type="checkbox" name="filter[district_8]" value="8" id="district-8">
                                <label for="district-8"><span>Дарницкий</span></label>
                            </div>
                            <div class="check-holder full-w">
                                <input type="checkbox" name="filter[district_9]" value="9" id="district-9">
                                <label for="district-9"><span>Дніпрівський</span></label>
                            </div>
                            <div class="check-holder full-w">
                                <input type="checkbox" name="filter[district_10]" value="10" id="district-10">
                                <label for="district-10"><span>Київська область</span></label>
                            </div>
                            <div class="check-holder full-w">
                                <input type="checkbox" name="filter[district_other]" value="11" id="district-other">
                                <label for="district-other"><span>інші</span></label>
                            </div>
                        </div>
                    </form>
                </aside>
                <section class="catalog-holder">
                    <div class="grid">

                        {% for estate in estates %}

                            {{ dump(estate) }}
                            <article class="col item">
                                <div class="inner">
                                    <a href="{{ path('catalog', { '_locale': app.request.locale, 'estateType': estateType, 'id': estate.id }) }}">
                                        <div class="photo-holder">
                                            <figure>
                                                <img src="{{ vich_uploader_asset(estate.estatePhoto.0, 'photoFile') }}" alt="{{ estate.address }}">
                                            </figure>
                                            <span class="deal-type">{{ estate.tradeType }}</span>
                                            <div class="price-holder">
                                                <p><span>{{ estate.price|number_format(2, ',') }}</span>/месяц</p>
                                            </div>
                                        </div>
                                        <p>Код об'єкта: <span>{{ estate.code }}</span></p>
                                        <p class="address">{{ estate.address }}</p>
                                        <ul>
                                            <li>
                                                <p><span class="icon icon-sq"></span>160 m²</p>
                                            </li>
                                            <li>
                                                <p><span class="icon icon-rooms"></span>5 кімнат</p>
                                            </li>
                                            <li>
                                                <p><span class="icon icon-bedroom"></span>3 спальні</p>
                                            </li>
                                            <li>
                                                <p><span class="icon icon-bathroom"></span>2 ванни</p>
                                            </li>
                                        </ul>
                                    </a>
                                </div>
                            </article>
                        {% endfor %}

                        <article class="col item">
                            <div class="inner">
                                <a href="catalog-item.html">
                                    <div class="photo-holder">
                                        <figure>
                                            <img src="build/images/catalog/apartment.jpg" alt="apartment">
                                        </figure>
                                        <span class="deal-type">оренда</span>
                                        <div class="price-holder">
                                            <p><span>2,500.00$</span>/месяц</p>
                                        </div>
                                    </div>
                                    <p>Код об'єкта: <span>uk-245</span></p>
                                    <p class="address">ул. Старокиевская,  д. 15, кв. 7, Шевченковский район, г. Киев, Украина</p>
                                    <ul>
                                        <li>
                                            <p><span class="icon icon-sq"></span>160 m²</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-rooms"></span>5 кімнат</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-bedroom"></span>3 спальні</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-bathroom"></span>2 ванни</p>
                                        </li>
                                    </ul>
                                </a>
                            </div>
                        </article>
                        <article class="col item">
                            <div class="inner">
                                <a href="catalog-item.html">
                                    <div class="photo-holder">
                                        <figure>
                                            <img src="build/images/catalog/apartment.jpg" alt="apartment">
                                        </figure>
                                        <span class="deal-type">оренда</span>
                                        <div class="price-holder">
                                            <p><span>2,500.00$</span>/месяц</p>
                                        </div>
                                    </div>
                                    <p>Код об'єкта: <span>uk-245</span></p>
                                    <p class="address">ул. Старокиевская,  д. 15, кв. 7, Шевченковский район, г. Киев, Украина</p>
                                    <ul>
                                        <li>
                                            <p><span class="icon icon-sq"></span>160 m²</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-rooms"></span>5 кімнат</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-bedroom"></span>3 спальні</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-bathroom"></span>2 ванни</p>
                                        </li>
                                    </ul>
                                </a>
                            </div>
                        </article>
                        <article class="col item">
                            <div class="inner">
                                <a href="catalog-item.html">
                                    <div class="photo-holder">
                                        <figure>
                                            <img src="build/images/catalog/apartment.jpg" alt="apartment">
                                        </figure>
                                        <span class="deal-type">оренда</span>
                                        <div class="price-holder">
                                            <p><span>2,500.00$</span>/месяц</p>
                                        </div>
                                    </div>
                                    <p>Код об'єкта: <span>uk-245</span></p>
                                    <p class="address">ул. Старокиевская,  д. 15, кв. 7, Шевченковский район, г. Киев, Украина</p>
                                    <ul>
                                        <li>
                                            <p><span class="icon icon-sq"></span>160 m²</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-rooms"></span>5 кімнат</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-bedroom"></span>3 спальні</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-bathroom"></span>2 ванни</p>
                                        </li>
                                    </ul>
                                </a>
                            </div>
                        </article>
                        <article class="col item">
                            <div class="inner">
                                <a href="catalog-item.html">
                                    <div class="photo-holder">
                                        <figure>
                                            <img src="build/images/catalog/apartment.jpg" alt="apartment">
                                        </figure>
                                        <span class="deal-type">оренда</span>
                                        <div class="price-holder">
                                            <p><span>2,500.00$</span>/месяц</p>
                                        </div>
                                    </div>
                                    <p>Код об'єкта: <span>uk-245</span></p>
                                    <p class="address">ул. Старокиевская,  д. 15, кв. 7, Шевченковский район, г. Киев, Украина</p>
                                    <ul>
                                        <li>
                                            <p><span class="icon icon-sq"></span>160 m²</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-rooms"></span>5 кімнат</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-bedroom"></span>3 спальні</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-bathroom"></span>2 ванни</p>
                                        </li>
                                    </ul>
                                </a>
                            </div>
                        </article>
                        <article class="col item">
                            <div class="inner">
                                <a href="catalog-item.html">
                                    <div class="photo-holder">
                                        <figure>
                                            <img src="build/images/catalog/apartment.jpg" alt="apartment">
                                        </figure>
                                        <span class="deal-type">оренда</span>
                                        <div class="price-holder">
                                            <p><span>2,500.00$</span>/месяц</p>
                                        </div>
                                    </div>
                                    <p>Код об'єкта: <span>uk-245</span></p>
                                    <p class="address">ул. Старокиевская,  д. 15, кв. 7, Шевченковский район, г. Киев, Украина</p>
                                    <ul>
                                        <li>
                                            <p><span class="icon icon-sq"></span>160 m²</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-rooms"></span>5 кімнат</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-bedroom"></span>3 спальні</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-bathroom"></span>2 ванни</p>
                                        </li>
                                    </ul>
                                </a>
                            </div>
                        </article>
                        <article class="col item">
                            <div class="inner">
                                <a href="catalog-item.html">
                                    <div class="photo-holder">
                                        <figure>
                                            <img src="build/images/catalog/apartment.jpg" alt="apartment">
                                        </figure>
                                        <span class="deal-type">оренда</span>
                                        <div class="price-holder">
                                            <p><span>2,500.00$</span>/месяц</p>
                                        </div>
                                    </div>
                                    <p>Код об'єкта: <span>uk-245</span></p>
                                    <p class="address">ул. Старокиевская,  д. 15, кв. 7, Шевченковский район, г. Киев, Украина</p>
                                    <ul>
                                        <li>
                                            <p><span class="icon icon-sq"></span>160 m²</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-rooms"></span>5 кімнат</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-bedroom"></span>3 спальні</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-bathroom"></span>2 ванни</p>
                                        </li>
                                    </ul>
                                </a>
                            </div>
                        </article>
                        <article class="col item">
                            <div class="inner">
                                <a href="catalog-item.html">
                                    <div class="photo-holder">
                                        <figure>
                                            <img src="build/images/catalog/apartment.jpg" alt="apartment">
                                        </figure>
                                        <span class="deal-type">оренда</span>
                                        <div class="price-holder">
                                            <p><span>2,500.00$</span>/месяц</p>
                                        </div>
                                    </div>
                                    <p>Код об'єкта: <span>uk-245</span></p>
                                    <p class="address">ул. Старокиевская,  д. 15, кв. 7, Шевченковский район, г. Киев, Украина</p>
                                    <ul>
                                        <li>
                                            <p><span class="icon icon-sq"></span>160 m²</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-rooms"></span>5 кімнат</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-bedroom"></span>3 спальні</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-bathroom"></span>2 ванни</p>
                                        </li>
                                    </ul>
                                </a>
                            </div>
                        </article>
                        <article class="col item">
                            <div class="inner">
                                <a href="catalog-item.html">
                                    <div class="photo-holder">
                                        <figure>
                                            <img src="build/images/catalog/apartment.jpg" alt="apartment">
                                        </figure>
                                        <span class="deal-type">оренда</span>
                                        <div class="price-holder">
                                            <p><span>2,500.00$</span>/месяц</p>
                                        </div>
                                    </div>
                                    <p>Код об'єкта: <span>uk-245</span></p>
                                    <p class="address">ул. Старокиевская,  д. 15, кв. 7, Шевченковский район, г. Киев, Украина</p>
                                    <ul>
                                        <li>
                                            <p><span class="icon icon-sq"></span>160 m²</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-rooms"></span>5 кімнат</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-bedroom"></span>3 спальні</p>
                                        </li>
                                        <li>
                                            <p><span class="icon icon-bathroom"></span>2 ванни</p>
                                        </li>
                                    </ul>
                                </a>
                            </div>
                        </article>
                    </div>
                </section>
                <aside class="pagination-holder">
                    <ul>
                        <li><a href="#" class="icon icon-arrow-up"></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" class="icon icon-arrow-down"></a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <div id="footer">

        {{ render(controller('AppBundle:Common:footer')) }}

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/catalog.bundle.min.js') }}"></script>
{% endblock %}