{# src/AppBundle/Resources/views/State/catalog_item.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ estate.address ~ (( estate.title ) ? ' - ' ~ estate.title : null) }} | {{ 'default.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ estate.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('catalog_default', { 'estateType': estateType, 'id': estate.id, 'slug': estate.slug }) }}">
    <link rel="alternate" href="{{ url('catalog', { '_locale': "ua", 'estateType': estateType, 'id': estate.id, 'slug': estate.slug }) }}" hreflang="x-default">
    <link rel="alternate" href="{{ url('catalog', { '_locale': "en", 'estateType': estateType, 'id': estate.id, 'slug': estate.slug }) }}" hreflang="en-us">
    <link rel="alternate" href="{{ url('catalog', { '_locale': "ua", 'estateType': estateType, 'id': estate.id, 'slug': estate.slug }) }}" hreflang="uk-ua">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/catalog.bundle.min.css') }}">
{% endblock %}

{% block header %}
    <header id="header" class="common">

        {{ render(controller('AppBundle:Common:header', { 'request': app.request, 'type': 'common' })) }}

    </header>
{% endblock %}

{% block content %}
    <main id="content" class="sticky">
        <h1>{{ 'state.catalog.headline_item'|trans }}</h1>
        <div class="outer substrate top-panel-holder inside">
            <div class="inner white-back">
                <div class="code-holder">
                    <p>{{ 'state.catalog.code'|trans }}: <span>{{ estate.code }}</span></p>
                </div>
                <div class="price-holder">

                    {% set month = ( estate.tradeType == 'trade_type_rent' ) ? '/' ~ 'state.catalog.month'|trans : null %}

                    <p>
                        {% if currency == 'USD' %}
                            <span>{{ estate.priceUSD|number_format(0, '.', ',') ~ '$' }}</span>{{ month }}
                        {% else %}
                            <span>{{ estate.priceUAH|number_format(0, '.', ',') ~ '₴' }}</span>{{ month }}
                        {% endif %}
                    </p>

                </div>
            </div>
        </div>
        <div class="outer substrate catalog-content inside">
            <div class="inner white-back">
                <article class="catalog-item">
                    <div id="gallery-holder">
                        <div class="photo-view">
                            <figure>

                                {% if estate.estatePhoto|length %}
                                    <img src="{{ vich_uploader_asset(estate.estatePhoto.0, 'photoFile') }}" alt="{{ estate.address }}">
                                {% endif %}

                            </figure>
                        </div>

                        {% if estate.estatePhoto|length %}
                            <div class="navigation-holder">
                                <div class="navigation">
                                    <ul>

                                        {% for estatePhoto in estate.estatePhoto %}
                                            <li class="{{ ( loop.first ) ? 'active' }}" data-img="{{ vich_uploader_asset(estatePhoto, 'photoFile') }}">
                                                <figure>
                                                    <img src="{{ vich_uploader_asset(estatePhoto, 'photoFile') }}" alt="{{ estate.address }}">
                                                </figure>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                                <span class="arrow arrow-left icon icon-arrow-left"></span>
                                <span class="arrow arrow-right icon icon-arrow-right"></span>
                            </div>
                        {% endif %}

                    </div>
                    <div class="info-holder">
                        <h3>{{ (( estate.title ) ? estate.title ~ ' - ' : null) ~ estate.address }}</h3>

                        {{ estate.description|raw }}

                        <ul>
                            <li>
                                <p><span class="icon icon-sq"></span>{{ estate.space + 0 }} m<sup>2</sup></p>
                            </li>

                            {% for attribute in estate.estateAttribute %}
                                <li>
                                    <p>
                                        <span class="icon {{ attribute.estateAttributeType.icon }}"></span>
                                        {{ attribute.estateAttributeType.title ~ ': ' ~ attribute.value }}
                                    </p>
                                </li>
                            {% endfor %}

                        </ul>
                        <div class="features-holder">

                            {% if estate.isCashless %}
                                <span class="icon icon-accept">{{ 'state.catalog.feature.is_cashless'|trans }}</span>
                            {% endif %}

                            {% if estate.isNewBuilding %}
                                <span class="icon icon-accept">{{ 'state.catalog.feature.is_new_building'|trans }}</span>
                            {% endif %}

                            {% if estate.hasElevator %}
                                <span class="icon icon-accept">{{ 'state.catalog.feature.has_elevator'|trans }}</span>
                            {% endif %}

                            {% if estate.hasParking %}
                                <span class="icon icon-accept">{{ 'state.catalog.feature.has_parking'|trans }}</span>
                            {% endif %}

                            {% if estate.hasFurniture %}
                                <span class="icon icon-accept">{{ 'state.catalog.feature.has_furniture'|trans }}</span>
                            {% endif %}

                            {% if estate.hasRegistration %}
                                <span class="icon icon-accept">{{ 'state.catalog.feature.has_registration'|trans }}</span>
                            {% endif %}

                        </div>
                    </div>
                    <aside id="map-holder">
                        <div id="map"></div>
                    </aside>
                </article>
            </div>
        </div>
        <div class="navigation-holder">

            {% if nearestEstates.previous %}
                {% set previousLink = path('catalog', { '_locale': "ua", 'estateType': estateType, 'id': nearestEstates.previous.id, 'slug': nearestEstates.previous.slug }) %}
            {% else %}
                {% set previousLink = null %}
            {% endif %}

            <a href="{{ ( previousLink ) ?: null }}" {{ ( not previousLink ) ? 'onclick="return false"' }}>
                <span class="icon icon-arrow-left"></span>
                {{ 'state.catalog.prev'|trans }}
            </a>

            <div class="btn-small flat">
                <a href="{{ path('catalog', { 'estateType': estateType } ) }}">{{ 'state.catalog.back'|trans }}</a>
            </div>

            {% if nearestEstates.next %}
                {% set nextLink = path('catalog', { '_locale': "ua", 'estateType': estateType, 'id': nearestEstates.next.id, 'slug': nearestEstates.next.slug }) %}
            {% else %}
                {% set nextLink = null %}
            {% endif %}

            <a href="{{ ( nextLink ) ?: null }}" {{ ( not nextLink ) ? 'onclick="return false"' }}>
                {{ 'state.catalog.next'|trans }}
                <span class="icon icon-arrow-right"></span>
            </a>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <div id="footer">

        {{ render(controller('AppBundle:Common:footer')) }}

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/catalog.bundle.min.js') }}"></script>

    {% set coordinates = estate.coordinates|split(';') %}

    <script>
        window.places = {
            center: {
                lat: {{ ( coordinates[0] ) ?: null }},
                lng: {{ ( coordinates[1] ) ?: null }}
            },
            markers: [
                {
                    lat: 50.4533345,
                    lng: 30.4713813,
                    title: "вул. Старокиевская, д. 15",
                    icon: "location"
                },
                {
                    lat: 50.450851,
                    lng: 30.466237,
                    title: "ст. м. Політехнічний інститут",
                    icon: "location-tube"
                },
                {
                    lat: 50.4544563,
                    lng: 30.4653904,
                    "title": "Київський Зоопарк",
                    "icon": "location-zoo"
                }
            ]
        }
    </script>
{% endblock %}