{# src/AppBundle/Resources/views/State/catalog.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'default.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('catalog_default') }}">
    <link rel="alternate" href="{{ url('catalog', { '_locale': "ua" }) }}" hreflang="x-default">
    <link rel="alternate" href="{{ url('catalog', { '_locale': "en" }) }}" hreflang="en-us">
    <link rel="alternate" href="{{ url('catalog', { '_locale': "ua" }) }}" hreflang="uk-ua">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/catalog.bundle.min.css') }}">
{% endblock %}

{% block header %}
    <header id="header" class="common">

        {{ render(controller('AppBundle:Common:header', { 'request': app.request, 'type': 'common' })) }}

    </header>
{% endblock %}

{% block content %}
    <main id="content" class="sticky">
        <h1>{{ 'state.catalog.headline'|trans }}</h1>
        <div class="outer substrate top-panel-holder">
            <div class="inner">
                <div class="btn-large flat white {{ ( estateType == 'commercial' ) ? 'active' }}">
                    <a href="{{ path('catalog', { '_locale': app.request.locale, 'estateType': 'commercial' }) }}">{{ 'state.catalog.property.commercial'|trans }}</a>
                </div>
                <div class="btn-large flat white {{ ( estateType == 'residential' ) ? 'active' }}">
                    <a href="{{ path('catalog', { '_locale': app.request.locale, 'estateType': 'residential' }) }}">{{ 'state.catalog.property.residential'|trans }}</a>
                </div>
                <form action="{{ path('catalog_search', { '_locale': app.request.locale, 'estateType': estateType }) }}" method="POST" id="search-form">

                    {{ render(controller('AppBundle:Filter:searchFilter', { 'filterArguments': filterArguments })) }}

                </form>
            </div>
        </div>

        <div class="btn-long flat white inverse">
    		<a href="{{ path('catalog_proposal', { '_locale': app.request.locale, 'estateType': estateType }) }}">{{ 'state.catalog.proposal'|trans }}</a>
    	</div>

        <div class="outer substrate catalog-content">
            <div class="inner">
                <aside class="filter-holder">

                    {% if app.request.query|length %}

                        {% set clear_text = ( app.request.query.get('search') ) ? 'state.catalog.clear.search'|trans : 'state.catalog.clear.filter'|trans %}

                        <div class="btn-small flat">
                            <a href="{{ path('catalog', { '_locale': app.request.locale, 'estateType': estateType }) }}">{{ clear_text }}</a>
                        </div>
                    {% endif %}

                    {% set arguments = { 'filterArguments': filterArguments, 'estates': unfilteredEstates } %}

                    <form action="{{ path('catalog_filter', { '_locale': app.request.locale, 'estateType': estateType }) }}" method="POST" id="filter-form">

                        {% if unfilteredEstates|length %}
                            {{ render(controller('AppBundle:Filter:estateTypeFilter', arguments)) }}

                            {{ render(controller('AppBundle:Filter:tradeTypeFilter', arguments)) }}
                        {% endif %}

                        {{ render(controller('AppBundle:Filter:currencyFilter', arguments)) }}

                        {% if unfilteredEstates|length %}
                            {{ render(controller('AppBundle:Filter:priceFilter', arguments|merge({ 'currency': currency }))) }}

                            {{ render(controller('AppBundle:Filter:pricePerSquareFilter', arguments|merge({ 'currency': currency }))) }}

                            {{ render(controller('AppBundle:Filter:spaceFilter', arguments)) }}

                            {# render(controller('AppBundle:Filter:spacePlotFilter', arguments)) #}

                            {{ render(controller('AppBundle:Filter:featureFilter', arguments)) }}

                            {{ render(controller('AppBundle:Filter:attributeFilter', arguments|merge({ 'estateAttributeType': estateAttributeType }))) }}

                            {{ render(controller('AppBundle:Filter:districtFilter', arguments)) }}
                        {% endif %}

                    </form>

                </aside>
                <section class="catalog-holder">
                    <div class="grid">

                        {% for estate in estates %}
                            <article class="col item">
                                <div class="inner">

                                    {# Bastard-kludge, I was forced to #}
                                    {% if estate.tradeType == 'trade_type_rent' %}
                                        {% set tradeType = 'kiev_rent' %}
                                    {% elseif estate.tradeType == 'trade_type_sale' %}
                                        {% set tradeType = 'kiev_sale' %}
                                    {% endif %}

                                    <a href="{{ path('catalog_item', { '_locale': app.request.locale, 'estateType': estateType, 'tradeType': tradeType, 'id': estate.id, 'slug': estate.slug }|merge(filterArguments)) }}">
                                        <div class="photo-holder">
                                            <figure>

                                                {% if estate.estatePhoto|length %}
                                                    <img src="{{ vich_uploader_asset(estate.estatePhoto.0, 'photoFile')|imagine_filter('catalog_thumb_watermark') }}" alt="{{ estate.address }}">
                                                {% endif %}

                                            </figure>
                                            <span class="deal-type">{{ ('state.catalog.' ~ estate.tradeType)|trans }}</span>
                                            <div class="price-holder">
                                                <p>

                                                    {% set month = ( estate.tradeType == 'trade_type_rent' ) ? '/' ~ 'state.catalog.month'|trans : null %}

                                                    {% if currency == 'USD' %}
                                                        <span>{{ estate.priceUSD|number_format(0, '.', ',') ~ '$' }}</span>{{ month }}
                                                    {% else %}
                                                        <span>{{ estate.priceUAH|number_format(0, '.', ',') ~ '₴' }}</span>{{ month }}
                                                    {% endif %}

                                                </p>
                                            </div>
                                        </div>
                                        <p>{{ 'state.catalog.code'|trans }}: <span>{{ estate.code }}</span></p>
                                        <p class="address">{{ estate.address }}</p>
                                        <ul>

                                            <li title='{{ 'state.catalog.attributes.space'|trans }}'>
                                                <p><span class="icon icon-sq"></span>{{ estate.space + 0 }} m<sup>2</sup></p>
                                            </li>

                                            {% if estate.estateType.id == 4 and estate.spacePlot != 0 %}
                                                <li title='{{ 'state.catalog.attributes.space_plot'|trans }}'>
                                                    <p><span class="icon icon-sq"></span>{{ estate.spacePlot + 0 }} m<sup>2</sup></p>
                                                </li>
                                            {% endif %}

                                            {# BIG FAT KLUDGE #}
                                            {% for attribute in estate.estateAttribute %}

                                                {% set make_it_happen = false %}

                                                {% if estate.estateType.id == 3 %}
                                                    {% if attribute.estateAttributeType.id == 3 or attribute.estateAttributeType.id == 4 or attribute.estateAttributeType.id == 5 %}

                                                        {% set make_it_happen = true %}

                                                    {% endif %}
                                                {% elseif estate.estateType.id == 4 %}
                                                    {% if attribute.estateAttributeType.id == 1 or attribute.estateAttributeType.id == 3 or attribute.estateAttributeType.id == 4 or attribute.estateAttributeType.id == 5 %}

                                                        {% set make_it_happen = true %}

                                                    {% endif %}
                                                {% else %}
                                                    {% if attribute.estateAttributeType.id == 1 or attribute.estateAttributeType.id == 2 or attribute.estateAttributeType.id == 6 %}

                                                        {% set make_it_happen = true %}

                                                    {% endif %}

                                                    {% if estate.estateType.id == 5 %}
                                                        {% if attribute.estateAttributeType.id == 7 or attribute.estateAttributeType.id == 8 %}

                                                            {% set make_it_happen = true %}

                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}

                                                {% if make_it_happen %}
                                                <li title='{{ attribute.estateAttributeType.title }}'>
                                                    <p>
                                                        <span class="icon {{ attribute.estateAttributeType.icon }}"></span>

                                                        {% if attribute.estateAttributeType.postfix %}
                                                            {{ ('state.catalog.attribute.' ~ attribute.estateAttributeType.postfix)|transchoice(attribute.value) }}
                                                        {% else %}
                                                            {{ attribute.value }}
                                                        {% endif %}
                                                    </p>
                                                </li>
                                                {% endif %}

                                            {% endfor %}
                                            {# KLUDGES NEVER END #}
                                        </ul>
                                    </a>
                                </div>
                            </article>
                        {% else %}
                            <div class="empty-holder">
                                <p>{{ 'state.catalog.empty.estate'|trans }}</p>
                            </div>
                        {% endfor %}

                    </div>
                </section>

                {{ render(controller('AppBundle:Common:paginationBar', { 'estateType': estateType, 'filterArguments': filterArguments })) }}

            </div>
        </div>
        <div id="to-up">
            <span class="icon icon-arrow-up"></span>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <div id="footer">

        {{ render(controller('AppBundle:Common:footer')) }}

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/catalog.bundle.min.js') }}"></script>
{% endblock %}
