{# src/AppBundle/Resources/views/State/contacts.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'default.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('contacts_default') }}">
    <link rel="alternate" href="{{ url('contacts', { '_locale': "ua" }) }}" hreflang="x-default">
    <link rel="alternate" href="{{ url('contacts', { '_locale': "en" }) }}" hreflang="en-us">
    <link rel="alternate" href="{{ url('contacts', { '_locale': "ua" }) }}" hreflang="uk-ua">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/contacts.bundle.min.css') }}">
{% endblock %}

{% block header %}
    <header id="header" class="common">

        {{ render(controller('AppBundle:Common:header', { 'request': app.request, 'type': 'common' })) }}

    </header>
{% endblock %}

{% block content %}
    <main id="content" class="sticky">
        <h1>{{ 'state.contacts.headline'|trans }}</h1>
        <div class="outer substrate contacts-holder">
            <div class="inner white-back">
                <section class="info">
                    <ul>
                        <li>
                            <span class="icon icon-location"></span>
                            <p>{{ contact.address }}</p>
                        </li>
                        <li>
                            <span class="icon icon-phone"></span>
                            <a href="tel:{{ contact.phone|replace({' ': '', '(': '', ')': ''}) }}">
                                {{ contact.phone }}
                            </a>
                        </li>
                        <li>
                            <span class="icon icon-fax"></span>
                            <p>{{ contact.fax }}</p>
                        </li>
                        <li>
                            <span class="icon icon-envelope"></span>
                            <a href="mailto:{{ contact.email }}">
                                {{ contact.email }}
                            </a>
                        </li>
                    </ul>

                    {% render controller('AppBundle:Form:feedback', { 'request': app.request }) %}

                </section>
                <aside id="map-holder">
                    <div id="map"></div>
                    <a href="{{ vich_uploader_asset(contact, 'pdfPreviewFile') }}" target="_blank">
                        {{ 'state.contacts.download'|trans }}
                    </a>
                </aside>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <div id="footer">

        {{ render(controller('AppBundle:Common:footer')) }}

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/contacts.bundle.min.js') }}"></script>
{% endblock %}
