{# src/AppBundle/Resources/views/State/expats_relocation.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'default.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('expats_relocation_default') }}">
    <link rel="alternate" href="{{ url('expats_relocation', { '_locale': "ua" }) }}" hreflang="x-default">
    <link rel="alternate" href="{{ url('expats_relocation', { '_locale': "en" }) }}" hreflang="en-us">
    <link rel="alternate" href="{{ url('expats_relocation', { '_locale': "ua" }) }}" hreflang="uk-ua">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/relocation.bundle.min.css') }}">
{% endblock %}

{% block header %}
    <header id="header" class="common">

        {{ render(controller('AppBundle:Common:header', { 'request': app.request, 'type': 'common' })) }}

    </header>
{% endblock %}

{% block content %}
    <main id="content" class="sticky">
        <h1>{{ 'state.expats_relocation.headline'|trans }}</h1>
        <section class="outer substrate relocation-holder">
            <div class="inner white-back">
                <h2>{{ 'state.expats_relocation.title'|trans }}</h2>
                <p>{{ 'state.expats_relocation.subtitle'|trans }}</p>

                {% for relocationStep in relocationSteps %}
                    <div class="item-holder">
                        <div class="list-items">
                            <h3>{{ relocationStep.title }}<span class="icon {{ relocationStep.icon }}"></span></h3>
                            <ul class="list-holder numbered-list red-squares">

                                {% for relocationStepItem in relocationStep.relocationStepItems %}
                                    <li>
                                        <p>{{ relocationStepItem.text }}</p>
                                    </li>
                                {% endfor %}

                            </ul>

                            {% if relocationStep.fileUA or relocationStep.fileEN %}
                                {% if app.request.locale is same as('ua') %}
                                    {% set file = ( relocationStep.fileUA ) ? 'fileUA' : 'fileEN' %}
                                {% endif %}

                                {% if app.request.locale is same as('en') %}
                                    {% set file = ( relocationStep.fileEN ) ? 'fileEN' : 'fileUA' %}
                                {% endif %}
                            {% else %}
                                {% set file = null %}
                            {% endif %}

                            {% if file %}
                                <div class="btn-long white inverse">
                                    <a href="{{ vich_uploader_asset(relocationStep, file) }}" target="_blank">{{ 'state.expats_relocation.file'|trans }}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </section>
        <div id="to-up">
            <span class="icon icon-arrow-up"></span>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <div id="footer">

        {{ render(controller('AppBundle:Common:footer')) }}

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/relocation.bundle.min.js') }}"></script>
{% endblock %}
