{# src/AppBundle/Resources/views/State/expats_information.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'default.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('expats_information_default') }}">
    <link rel="alternate" href="{{ url('expats_information', { '_locale': "ua" }) }}" hreflang="x-default">
    <link rel="alternate" href="{{ url('expats_information', { '_locale': "en" }) }}" hreflang="en-us">
    <link rel="alternate" href="{{ url('expats_information', { '_locale': "ua" }) }}" hreflang="uk-ua">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/expats.bundle.min.css') }}">
{% endblock %}

{% block header %}
    <header id="header" class="common">

        {{ render(controller('AppBundle:Common:header', { 'request': app.request, 'type': 'common' })) }}

    </header>
{% endblock %}

{% block content %}
    <main id="content" class="sticky">
        <h1>{{ 'state.expats_information.headline'|trans }}</h1>
        <section class="outer substrate location-categories-holder">
            <div class="inner">
                <form action="{{ path('expats_information_load', { '_locale': app.request.locale }) }}" method="POST" id="location-form">

                    {% for informationCategory in informationCategories %}
                        {% set alias = informationCategory.alias %}

                        <div class="item">
                            <input type="checkbox" name="location[{{ alias }}]" value="yes" id="location-{{ alias }}">
                            <label for="location-{{ alias }}">
                                <div class="inside">
                                    <span class="icon icon-location-{{ alias }}"></span>
                                    <p>{{ informationCategory.title }}</p>
                                </div>
                            </label>
                        </div>
                    {% endfor %}

                </form>
            </div>
        </section>
        <!-- add class active to display button -->
        <div class="btn-extra-large flat white" id="map-button">
            <a href="#"><span class="icon icon-map"></span>{{ 'state.expats_information.map'|trans }}</a>
        </div>
        <div id="map-holder">
            <span class="icon icon-close close"></span>
            <div id="map"></div>
        </div>
        <!-- add class active to switch views -->
        <div class="outer substrate" id="expats-holder">
            <div class="inner white-back">
                <section class="expats-intro-holder">
                    <h2>{{ informationIntro.title }}</h2>
                    {# <h2>{{ 'state.expats_information.headline'|trans }}</h2> #}
                    <p>{{ informationIntro.text }}</p>
                    {# <p>{{ 'state.expats_information.text'|trans }}</p> #}

                    <ul class="list-holder icon-list">
                        <li>
                            <span class="icon icon-building"></span>
                            <p>{{ 'state.expats_information.benefits.1'|trans }}</p>
                        </li>
                        <li>
                            <span class="icon icon-information"></span>
                            <p>{{ 'state.expats_information.benefits.2'|trans }}</p>
                        </li>
                        <li>
                            <span class="icon icon-map"></span>
                            <p>{{ 'state.expats_information.benefits.3'|trans }}</p>
                        </li>
                    </ul>

                    {% if informationIntro.fileUA or informationIntro.fileEN %}
                        {% if app.request.locale is same as('ua') %}
                            {% set file = ( informationIntro.fileUA ) ? 'fileUA' : 'fileEN' %}
                        {% endif %}

                        {% if app.request.locale is same as('en') %}
                            {% set file = ( informationIntro.fileEN ) ? 'fileEN' : 'fileUA' %}
                        {% endif %}
                    {% else %}
                        {% set file = null %}
                    {% endif %}

                    {% if file %}
                        <div class="btn-long white inverse">
                            <a href="{{ vich_uploader_asset(informationIntro, file) }}" target="_blank">
                                {{ 'state.expats_information.file'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </section>
                <section class="expats-location-info"></section>
            </div>
        </div>
        <div id="to-up">
            <span class="icon icon-arrow-up"></span>
        </div>
    </main>
    <div id="loader-holder">
        <span></span>
        <span></span>
        <span></span>
    </div>
{% endblock %}

{% block footer %}
    <div id="footer">

        {{ render(controller('AppBundle:Common:footer')) }}

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/expats.bundle.min.js') }}"></script>
{% endblock %}
