{# src/AppBundle/Resources/views/State/index.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ 'default.title'|trans }} | {{ metadata.title }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('index_default') }}">
    <link rel="alternate" href="{{ url('index', { '_locale': "ua" }) }}" hreflang="x-default">
    <link rel="alternate" href="{{ url('index', { '_locale': "en" }) }}" hreflang="en-us">
    <link rel="alternate" href="{{ url('index', { '_locale': "ua" }) }}" hreflang="uk-ua">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/home.bundle.min.css') }}">
{% endblock %}

{% block header %}

    {{ render(controller('AppBundle:Common:header', { 'request': app.request, 'type': 'intro' })) }}

{% endblock %}

{% block content %}
    <main id="content">
        <section class="intro-holder">
            <div id="prism-holder">
                <div id="prism">

                    {% for service in services %}
                        <div class="prism-side {{ service.cssPosition ~ ' ' ~ service.alias }}">
                            <div class="inner">
                                <h2>{{ service.title }}</h2>
                                <p>{{ service.shortDescription }}</p>
                                <div class="btn-large">
                                    <a href="{{ path('services', { '_locale': app.request.locale, 'alias': service.alias }) }}">{{ 'state.index.details'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="prism-side left"></div>
                    <div class="prism-side right"></div>
                </div>
            </div>
            <div id="prism-state-holder">
                <div class="arrow up"><span class="icon-arrow-up"></span></div>
                <span>{{ 'state.index.services'|trans }}</span>
                <div class="arrow down"><span class="icon-arrow-down"></span></div>
            </div>
            <div id="action-panel-holder">
                <ul>
                    <li>
                        <a href="{{ path('catalog', { '_locale': app.request.locale, 'estateType': 'commercial' }) }}">
                            {{ 'state.index.bottom_menu.catalog_commercial'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('news', { '_locale': app.request.locale }) }}">
                            {{ 'state.index.bottom_menu.news'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('expats_information', { '_locale': app.request.locale }) }}">
                            {{ 'state.index.bottom_menu.expats_information'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('catalog', { '_locale': app.request.locale, 'estateType': 'residential' }) }}">
                            {{ 'state.index.bottom_menu.catalog_residential'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <div id="preloader-holder">
        <span class="lane black"></span>
        <span class="lane white"></span>
        <span class="lane grey"></span>
        <span class="lane red"></span>
    </div>
    <div id="frb-cube-holder">
        <span class="frb-cube-side"></span>
        <span class="frb-cube-side"></span>
        <span class="frb-cube-side"></span>
        <span class="frb-cube-side"></span>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/home.bundle.min.js') }}"></script>
{% endblock %}