{# src/AppBundle/Resources/views/State/researches.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'default.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('researches_default') }}">
    <link rel="alternate" href="{{ url('researches', { '_locale': "ua" }) }}" hreflang="x-default">
    <link rel="alternate" href="{{ url('researches', { '_locale': "en" }) }}" hreflang="en-us">
    <link rel="alternate" href="{{ url('researches', { '_locale': "ua" }) }}" hreflang="uk-ua">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/research.bundle.min.css') }}">
{% endblock %}

{% block header %}
    <header id="header" class="common">

        {{ render(controller('AppBundle:Common:header', { 'request': app.request, 'type': 'common' })) }}

    </header>
{% endblock %}

{% block content %}
    <main id="content" class="sticky">
        <h1>{{ 'state.researches.headline'|trans }}</h1>
        <div class="outer substrate research-years-holder">
            <div class="inner">

                {% for year in years %}
                    <div class="btn-long flat white {{ ( year == requestYear ) ? 'active' }}">
                        <a href="{{ path('researches', { 'year': year }) }}">{{ year }}</a>
                    </div>
                {% endfor %}

            </div>
        </div>
        <section class="outer substrate research-holder">
            <div class="inner white-back">

                    {% if researches %}
                        <div class="grid dbl">
                            {% for researchCategory in researchCategories %}

                                {% if researches[researchCategory.id] is defined %}
                                    <div class="col">
                                        <figure>
                                            <img src="{{ vich_uploader_asset(researchCategory, 'photoFile')|imagine_filter('research_category_thumb') }}" alt="{{ researchCategory.title }}">
                                        </figure>
                                        <div class="info-holder">
                                            <h2>{{ researchCategory.title }}</h2>
                                            <p>{{ researchCategory.description }}</p>
                                        </div>

                                        {% set itemsNumber = ( researches[researchCategory.id] is defined ) ? researches[researchCategory.id]|length : 0 %}

                                        {% if itemsNumber == 1 %}
                                            {% set itemsClass = 'signle' %}
                                        {% elseif itemsNumber == 2 %}
                                            {% set itemsClass = 'double' %}
                                        {% elseif itemsNumber == 3 %}
                                            {% set itemsClass = 'triple' %}
                                        {% elseif itemsNumber == 4 %}
                                            {% set itemsClass = '' %}
                                        {% endif %}

                                        <div class="buttons-holder {{ itemsClass }}">
                                            <p>{{ 'state.researches.reports'|trans }}</p>

                                            {% for research in researches[researchCategory.id] %}

                                                {%
                                                    set pdf = ( app.request.locale == 'en' )
                                                        ? vich_uploader_asset(research, 'pdfPreviewFileEN')
                                                        : vich_uploader_asset(research, 'pdfPreviewFileUA')
                                                %}

                                                <div class="btn-small flat">
                                                    {% if pdf %}
                                                        <a href="{{ pdf }}" target="_blank">
                                                    {% else %}
                                                        <a href="{{ path('researches', { '_locale': app.request.locale, 'year': app.request.attributes.get('year') }) }}">
                                                    {% endif %}
                                                        {{ research.quarter|roman_number }}
                                                    </a>
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                {% endif %}

                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="empty-holder">
                            <p>{{ 'state.researches.empty.researches'|trans }}</p>
                        </div>
                    {% endif %}

            </div>
        </section>
        <div id="to-up">
            <span class="icon icon-arrow-up"></span>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <div id="footer">

        {{ render(controller('AppBundle:Common:footer')) }}

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/research.bundle.min.js') }}"></script>
{% endblock %}
