{# src/AppBundle/Resources/views/State/services.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'default.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('services_default') }}">
    <link rel="alternate" href="{{ url('services', { '_locale': "ua" }) }}" hreflang="x-default">
    <link rel="alternate" href="{{ url('services', { '_locale': "en" }) }}" hreflang="en-us">
    <link rel="alternate" href="{{ url('services', { '_locale': "ua" }) }}" hreflang="uk-ua">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/services.bundle.min.css') }}">
{% endblock %}

{% block header %}
    <header id="header" class="common">

        {{ render(controller('AppBundle:Common:header', { 'request': app.request, 'type': 'common' })) }}

    </header>
{% endblock %}

{% block content %}
    <main id="content" class="sticky">
        <h1>{{ 'state.services.headline'|trans }}</h1>

        {{ render(controller('AppBundle:Common:services')) }}

        <section class="outer extra-buttons-holder">
            <div class="btn-long">
                <a href="{{ path('expats_relocation', { '_locale': app.request.locale }) }}">
                    {{ 'state.services.menu.expats_relocation'|trans }}
                </a>
            </div>
            <div class="btn-long">
                <a href="{{ path('expats_information', { '_locale': app.request.locale }) }}">
                    {{ 'state.services.menu.expats_information'|trans }}
                </a>
            </div>
        </section>
        <div class="outer substrate">
            <div class="inner white-back">

                {% if serviceBenefits|length %}

                    <section class="principles-holder">
                        <h2>{{ 'state.services.principles'|trans }}</h2>
                        <ul class="list-holder icon-list">

                            {% for serviceBenefit in serviceBenefits %}
                                <li>
                                    <span class="icon {{ serviceBenefit.icon }}"></span>
                                    <p>{{ serviceBenefit.thesis }}</p>
                                </li>
                            {% endfor %}

                        </ul>
                    </section>

                {% endif %}

                {% if clients|length %}

                    <section class="clients-holder">
                        <h2>{{ 'state.services.clients'|trans }}</h2>
                        <ul class="list-holder icon-list">

                            {% for client in clients %}
                                <li>
                                    <figure>
                                        <img src="{{ vich_uploader_asset(client, 'logoFile') }}" alt="{{ client.name }}" title="{{ client.name }}">
                                    </figure>
                                </li>
                            {% endfor %}

                        </ul>
                    </section>

                {% endif %}

                {% if clientsChits|length %}

                    <section class="client-comments-holder">
                        <h2>{{ 'state.services.chits.headline'|trans }}</h2>
                        <ul class="list-holder icon-list full">

                            {% for clientsChit in clientsChits %}
                                <li>
                                    <figure>
                                        <img src="{{ vich_uploader_asset(clientsChit.client, 'logoFile') }}" alt="{{ clientsChit.client.name }}">
                                    </figure>
                                    <span class="sprtr-h"></span>
                                    <p>{{ clientsChit.text }}</p>
                                    <span>{{ clientsChit.client.name }}</span>
                                </li>
                            {% endfor %}

                        </ul>
                    </section>

                {% endif %}

                <div class="btn-extra-large flat" id="comment-button">
                    <a href="#">{{ 'state.services.chits.send'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="pop-up-holder" id="comment-pop-up">
            <div class="pop-up">
                <div class="outer">
                    <div class="inner">
                        <h2>Залиште ваш відгук</h2>
                        <p>Ми цінуемо ваш час та вдячні за ваш відгук</p>
                        <span class="sprtr-h"></span>
                        <form action="php/comment.php" method="POST" id="comment-form">
                            <div class="response-holder"></div>
                            <div class="field-holder">
                                <label for="comment-company-name">Назва компанії</label>
                                <input type="text" name="comment[company_name]" value="" placeholder="Введіть назву вашої компаніїї" id="comment-company-name" data-rule-required="true" data-msg-required="Це поле має бути заповненним">
                            </div>
                            <div class="field-holder">
                                <label for="comment-email">Електронна пошта</label>
                                <input type="email" name="comment[email]" value="" placeholder="Введіть електронну пошту" id="comment-email" data-rule-required="true" data-msg-required="Це поле має бути заповненним" data-rule-email="true" data-msg-email="Це не схоже на справжню адресу електронної пошти">
                            </div>
                            <div class="field-holder">
                                <label for="comment-message">Ваш відгук</label>
                                <textarea name="comment[message]" value="" placeholder="Введіть ваш відгук" id="comment-message" data-rule-required="true" data-msg-required="Це поле має бути заповненним"></textarea>
                            </div>
                            <button type="submit">
                                <span>Надіслати</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <span class="icon icon-close close"></span>
        </div>
        <div id="loader-holder">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <div id="footer">

        {{ render(controller('AppBundle:Common:footer')) }}

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/services.bundle.min.js') }}"></script>
{% endblock %}