{# src/AppBundle/Resources/views/State/staff.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'default.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('staff_default') }}">
    <link rel="alternate" href="{{ url('staff', { '_locale': "ua" }) }}" hreflang="x-default">
    <link rel="alternate" href="{{ url('staff', { '_locale': "en" }) }}" hreflang="en-us">
    <link rel="alternate" href="{{ url('staff', { '_locale': "ua" }) }}" hreflang="uk-ua">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/people.bundle.min.css') }}">
{% endblock %}

{% block header %}
    <header id="header" class="common">

        {{ render(controller('AppBundle:Common:header', { 'request': app.request, 'type': 'common' })) }}

    </header>
{% endblock %}

{% block content %}
    <main id="content" class="sticky">
        <h1>Співробітники</h1>
        <section class="outer substrate categories-holder">
            <div class="inner">
                <div class="btn-long flat white {{ ( not service ) ? 'active' }}">
                    <a href="{{ path('staff', { '_locale': app.request.locale }) }}">
                        Усі
                    </a>
                </div>
                <div class="btn-long flat white {{ ( service == 'agency' ) ? 'active' }}">
                    <a href="{{ path('staff', { '_locale': app.request.locale, 'service': 'agency' }) }}">
                        Агентські
                    </a>
                </div>
                <div class="btn-long flat white {{ ( service == 'evaluation' ) ? 'active' }}">
                    <a href="{{ path('staff', { '_locale': app.request.locale, 'service': 'evaluation' }) }}">
                        Оцінка
                    </a>
                </div>
                <div class="btn-long flat white {{ ( service == 'management' ) ? 'active' }}">
                    <a href="{{ path('staff', { '_locale': app.request.locale, 'service': 'management' }) }}">
                        Управління
                    </a>
                </div>
            </div>
        </section>
        <section class="outer substrate people-holder">
            <div class="inner">
                <div class="grid">

                    {% for employee in staff %}
                        <article class="col">
                            <figure>
                                <img src="{{ vich_uploader_asset(employee, 'photoFile') }}" alt="{{ employee.name }}">
                            </figure>
                            <h2>{{ employee.name }}</h2>
                            <span class="role">{{ employee.position }}</span>
                            <ul>
                                <li>
                                    <span class="icon icon-phone"></span>
                                    <a href="tel:{{ employee.phone|replace({' ': '', '(': '', ')': ''}) }}">
                                        {{ employee.phone }}
                                    </a>
                                </li>
                                <li>
                                    <span class="icon icon-envelope"></span>
                                    <a href="mailto:{{ employee.email }}">{{ employee.email }}</a>
                                </li>
                                <li>
                                    <span class="icon icon-skype"></span>

                                    {% if employee.skype %}
                                        <a href="skype:{{ employee.skype }}?chat">{{ employee.skype }}</a>
                                    {% else %}
                                        <a href='#'>не вказано</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </article>
                    {% else %}
                        <p>No employee info</p>
                    {% endfor %}

                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block footer %}
    <div id="footer">

        {{ render(controller('AppBundle:Common:footer')) }}

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/people.bundle.min.js') }}"></script>
{% endblock %}