{# src/AppBundle/Resources/views/State/vacancies.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'default.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('vacancies_default') }}">
    <link rel="alternate" href="{{ url('vacancies', { '_locale': "ua" }) }}" hreflang="x-default">
    <link rel="alternate" href="{{ url('vacancies', { '_locale': "en" }) }}" hreflang="en-us">
    <link rel="alternate" href="{{ url('vacancies', { '_locale': "ua" }) }}" hreflang="uk-ua">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/vacancies.bundle.min.css') }}">
{% endblock %}

{% block header %}
    <header id="header" class="common">

        {{ render(controller('AppBundle:Common:header', { 'request': app.request, 'type': 'common' })) }}

    </header>
{% endblock %}

{% block content %}
    <main id="content" class="sticky">
        <h1>Вакансії</h1>
        <section class="outer substrate vacancies-holder">
            <div class="inner white-back">
                <article class="vacancy-holder">
                    <div class="entitled">
                        <h2>Провідний спеціалaіст департаменту управління нерухомістю</h2>
                        <time datetime="2015-11-13">13 листопада 2015р.</time>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis totam saepe distinctio, commodi, aliquid et harum illo mollitia modi tempora qui. Cupiditate facere veritatis dolor iusto, accusamus autem architecto perferendis.</p>
                    <div class="tabs">
                        <ul>
                            <li class="label active"><span>Требования к кандидатам</span></li>
                            <li class="label"><span>Основные задачи</span></li>
                            <li class="label"><span>будет преимуществом</span></li>
                        </ul>
                        <div class="container">
                            <div class="content active">
                                <ul class="list-holder numbered-list red-squares">
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <ul class="list-holder numbered-list red-squares">
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <ul class="list-holder numbered-list red-squares">
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btn-extra-large flat">
                        <a href="#">Отправить резюме</a>
                    </div>
                </article>
                <article class="vacancy-holder">
                    <div class="entitled">
                        <h2>Провідний спеціалaіст департаменту управління нерухомістю</h2>
                        <time datetime="2015-11-13">13 листопада 2015р.</time>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis totam saepe distinctio, commodi, aliquid et harum illo mollitia modi tempora qui. Cupiditate facere veritatis dolor iusto, accusamus autem architecto perferendis.</p>
                    <div class="tabs">
                        <ul>
                            <li class="label active"><span>Требования к кандидатам</span></li>
                            <li class="label"><span>Основные задачи</span></li>
                            <li class="label"><span>будет преимуществом</span></li>
                        </ul>
                        <div class="container">
                            <div class="content active">
                                <ul class="list-holder numbered-list red-squares">
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <ul class="list-holder numbered-list red-squares">
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <ul class="list-holder numbered-list red-squares">
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio molestiae ullam in eius a architecto illum at eos natus ab quaerat vitae rerum nostrum debitis, maxime eaque expedita reprehenderit tenetur.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btn-extra-large flat">
                        <a href="#">Отправить резюме</a>
                    </div>
                </article>
            </div>
        </section>
    </main>
{% endblock %}

{% block footer %}
    <div id="footer">

        {{ render(controller('AppBundle:Common:footer')) }}

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/vacancies.bundle.min.js') }}"></script>
{% endblock %}