{# src/AppBundle/Resources/views/State/vacancies.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% set intl_locale = ( app.request.locale != 'ua' ) ?: 'uk' %}

{% set metadata = getMetadata() %}

{% block title %}
    {{ metadata.title }} | {{ 'default.title'|trans }}
{% endblock %}

{% block metadata %}
    {{ parent() }}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="robots" content="{{ metadata.robots }}">
{% endblock %}

{% block locale %}
    <link rel="canonical" href="{{ url('vacancies_default') }}">
    <link rel="alternate" href="{{ url('vacancies', { '_locale': "ua" }) }}" hreflang="x-default">
    <link rel="alternate" href="{{ url('vacancies', { '_locale': "en" }) }}" hreflang="en-us">
    <link rel="alternate" href="{{ url('vacancies', { '_locale': "ua" }) }}" hreflang="uk-ua">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/vacancies.bundle.min.css') }}">
{% endblock %}

{% block header %}
    <header id="header" class="common">

        {{ render(controller('AppBundle:Common:header', { 'request': app.request, 'type': 'common' })) }}

    </header>
{% endblock %}

{% block content %}
    <main id="content" class="sticky">
        <h1>{{ 'state.vacancies.headline'|trans }}</h1>
        <section class="outer substrate vacancies-holder">
            <div class="inner white-back">

                {% for vacancy in vacancies %}
                    <article class="vacancy-holder">
                        <div class="entitled">
                            <h2>{{ vacancy.title }}</h2>

                            <time datetime="{{ vacancy.publicationDate|date('Y-m-d') }}">
                                {{ vacancy.publicationDate|localizeddate('long', 'none', intl_locale) }}
                            </time>
                        </div>
                        {{ vacancy.shortDescription|striptags('<p><em><strong><u>')|raw }}
                        <div class="tabs">
                            <ul>
                                <li class="label active">
                                    <span>{{ 'state.vacancies.tabs.requirements'|trans }}</span>
                                </li>
                                <li class="label">
                                    <span>{{ 'state.vacancies.tabs.tabs'|trans }}</span>
                                </li>
                                <li class="label">
                                    <span>{{ 'state.vacancies.tabs.advantages'|trans }}</span>
                                </li>
                            </ul>
                            <div class="container">
                                <div class="content active">
                                    <ul class="list-holder numbered-list red-squares">

                                        {% for requirement in vacancy.listRequirements %}
                                            <li>
                                                <p>{{ requirement.listItem }}</p>
                                            </li>
                                        {% else %}
                                            <p>{{ 'state.vacancies.empty.requirements'|trans }}</p>
                                        {% endfor %}

                                    </ul>
                                </div>
                                <div class="content">
                                    <ul class="list-holder numbered-list red-squares">

                                        {% for task in vacancy.listTasks %}
                                            <li>
                                                <p>{{ task.listItem }}</p>
                                            </li>
                                        {% else %}
                                            <p>{{ 'state.vacancies.empty.tasks'|trans }}</p>
                                        {% endfor %}

                                    </ul>
                                </div>
                                <div class="content">
                                    <ul class="list-holder numbered-list red-squares">

                                        {% for advantage in vacancy.listAdvantages %}
                                            <li>
                                                <p>{{ advantage.listItem }}</p>
                                            </li>
                                        {% else %}
                                            <p>{{ 'state.vacancies.empty.advantages'|trans }}</p>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="btn-extra-large flat">
                            <a href="mailto:{{ email.resume }}?subject={{ vacancy.title }}">
                                {{ 'state.vacancies.resume.send'|trans }}
                            </a>
                        </div>
                    </article>
                {% else %}
                    <div class="empty-holder">
                        <p>{{ 'state.vacancies.empty.vacancies'|trans }}</p>
                    </div>
                {% endfor %}

            </div>
        </section>
    </main>
{% endblock %}

{% block footer %}
    <div id="footer">

        {{ render(controller('AppBundle:Common:footer')) }}

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/vacancies.bundle.min.js') }}"></script>
{% endblock %}
